absl-py==0.4.0
astor==0.7.1
audioread==2.1.6
certifi==2018.8.13
decorator==4.3.0
gast==0.2.0
grpcio==1.13.0
joblib==0.12.1
librosa==0.6.1
llvmlite==0.24.0
Markdown==2.6.11
mkl-fft==1.0.4
mkl-random==1.0.1
numba==0.39.0
numpy==1.15.0
opencv-python==3.4.2.17
pandas==0.23.3
protobuf==3.5.2
python-dateutil==2.7.3
pytz==2018.5
resampy==0.2.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
tqdm==4.24.0
Werkzeug==0.14.1
